@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    background: #239ff2f2;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    height: 30vmin;
    width: 45vmin;
    margin-top: 2em;
    border-radius: 20px;
    padding: 2em;
}

.user-input-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-wrap: nowrap;
}

.bill-amount-section,
.percentage-section{
    display: flex;
    align-items: center;
    gap: 1em;
}

.user-input{
    width: 45%;
    background: #e4e6e7f2;
    font-size: 1.3em;
    padding: 0.5em 0.5em;
    border-radius: 20px;
    outline: none;
    border: none;
}

.icon-style{
    font-size: 1.3em;
    font-weight: 500;
}

.user-input::-webkit-inner-spin-button{
    appearance: none;
}


.user-input-text{
    font-size: 1.5em;
    font-weight: 500;
}

.tip-section{
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.tip-text{
    font-size: 1.2em;
    font-weight: 500;
}

.tip-text{
    border: none;
    padding: 0.4em 1.5em;
    border-radius: 20px;
    background: #1a8df8f2;
    cursor: pointer;
}

.tip-amount{
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 0.4em 1.5em;
    background: #e4e6e7f2;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.rupee-icon{
    font-size: 1.1em;
}